body{
    background-image: url("img/img4.jpg");
    background-color: #cccccc;
}
.barra-superior{
  min-height: 8rem;
}
.navbar{
  margin-top: 2rem;
}

.logo_Turismo{
  max-height: 8rem;
  margin-left: 1rem;
}
.slogan{
  min-height: 1rem;
}
.redes{
  margin: 1rem;
}
.imgRedes{
  max-width: 100%;
}
div[class*="columna"]{
  min-height: 30rem;
  max-height: 40rem;
}
div[class*="bloque"]{
  min-height: 15rem;
  max-height: 20rem;
  /*overflow: scroll;*/
}

.par{
  max-height: 20rem;
  min-height: 17rem;
  max-width: 90%;
  margin: 1rem;
}

.impar{
  max-height: 40rem;
  min-height: 17rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  width: 85%;
  /*overflow: scroll;*/
}
.img_entry{
  max-width: 100%;
}

.profile{
  max-width: 80%;
  min-height: 80%;
  margin: 2rem;
}
.columna-chat, .columna-news{
  padding: 0 !important;
}
.contenedor-write-publicacion{
  min-height: 7rem;
}
.contenedor-publicacion{
  min-height: 17rem;
}
.logo{
  width: 40px;
  margin-top: 0.5rem;
  float: left;
}
.contenedor-noticias{
  margin-top: 1rem;
  min-height: 50rem;
  padding: 0.5rem;
}

.buscar-campo{
  float: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  width: 70%;
}
.barra-superior .row{
  margin-bottom: 0;
}
.contenedor-botones{
  margin-top: 1rem;
}
#publicacion-texto{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  resize: none;
  border: 1px solid #ff8f00;
  background-color: white;
  height: 5rem;
  color: #fff;
}
