.container_main{
  margin-top: 1%;
}
.slogan{
  font-family: Pescadero;
  text-align: right;
}
.fav{
  min-height: 100px;
  padding: 5px;
  margin: auto;
}
.usericon{
  width: 180px;
}

img{
  max-height: 250px;
}

div.secondary.callout.text-center{
  min-height: 242px;
}
